.app__mainScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow)
}

.app__mainScreen-top {
    background: linear-gradient(0deg, rgba(252, 244, 239, 1) 0%, rgba(213, 229, 247, 1) 100%);
    border-radius: 10px 10px 0 0;
    padding: 0 10rem 2rem 10rem;
}

.app__mainScreen-bottom {
    width: 100%;
    /* height: 10rem; */
    background: #ADCFF8;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 1060px) {
    .app__mainScreen-top {
        padding: 0 2rem 1rem 2rem;
    }
}


@media screen and (max-height: 950px) {
    .app__mainScreen {
        transform: translate(-50%, -33%);

    }
}

/* @media screen and (min-height: 400px) {
    .app__mainScreen {
        transform: translate(-50%, -15%);

    }
} */

/* @media screen and (min-height: 700px) {
    .app__mainScreen {
        transform: translate(-50%, -40%);

    }
} */

/*
@media screen and (max-height: 800px) {
    .app__mainScreen {
        transform: translate(-50%, -30%);
    }
} */

/* @media screen and (max-height: 930px) {
    .app__mainScreen {
        transform: translate(-50%, -40%);
    }
} */

/* @media screen and (max-height: 1030px) {
    .app__mainScreen {
        transform: translate(-50%, -45%);
    }
} */