.app__background-top {
  /* global 94%+ browsers support */
  background: linear-gradient(0deg,
      rgba(227, 239, 252, 1) 0%,
      rgba(173, 208, 247, 1) 100%);

  min-height: 50vh;
  height: 50%;
}

.app__background-bottom {
  background: #4a88d3;
  min-height: 80vh;
  height: 50%;
}

html {
  position: relative;
  height: 100%;
  background: #4a88d3;
  /* margin: 20px 0; */
}